$color-one: #574343
$color-two: #ebe2dd

html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block
h5
  margin-bottom: 0

html
  height: 100%
  font-family: century-gothic, sans-serif



div
  ul
    list-style-position: inside


body
  line-height: 1
div
  a
    text-decoration: none
    color: #3a3131




p
  a
    text-decoration: none




div
  a
    &:hover
      //color: #3a3131


blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none


table
  border-collapse: collapse
  border-spacing: 0


.none
  display: none


                                                                   //Style

body
  background-color: #ebe2dd!important
.bgNavbar
  background-color: $color-one
.Rounded
  border-radius: 15px
.text_color
  color: $color-one

                                                                // nav banner

.awssld__bullets
  display: none!important
.awssld__content
  border-radius: 15px


                                                                  //nav
.imgHover
  margin-bottom: 10px
  &:hover
    box-shadow: 5px 5px 5px $color-one
a b:hover
  color: #775e35

a:hover
  color: #775e35!important





                                                                //slaider

.awssld__controls button
  top: calc(90% - (0.5 * var(--control-button-height)))!important

.awssld__prev
  left: 81%!important



                                                             //Castom button
.aws-btn--primary .aws-btn__content
  background-color: $color-one!important
.aws-btn--primary .aws-btn__wrapper:before
  background-color: #3a3131 !important
.aws-btn
  width: 150px
  top: -15%
  left: 5%

.bg_All_Cards
    text-align: center


.position_btn
  position: inherit!important


div
  h6
    margin-bottom: 0!important


                                                                      //button back
.back
  background: $color-two
  width: fit-content
                                                            //Header

.container_nav_catalog
  background: $color-one

a.nav-link.active
  box-shadow: -1px 2px 6px 1px
  background-color: #ebe2dd
  border-radius: 5px


a.nav-link
  @media screen and (max-width: 991px)
    color: aliceblue


.logo
  width: 100px
  //border-radius: 10px
  //background: $color-two

h4
  scroll-margin-top: 100px
  @media screen and (max-width: 991px)
    scroll-margin-top: 350px

.nav_link
  margin-left: 100px




                                                   //vlog



.imgVlog
  @media screen and (max-width: 768px)
    width: 100%


.ms_lg
  margin-left: 32rem
.mr
  margin-right: auto

                                                  //modal
.modalWindow
  z-index: 100
  position: absolute
  height: 100%
  width: 100%
  background-color: rgba(10, 10, 10, 0.53)
  text-align: -webkit-center




                                                      //form

.btn-outline-primary
  --bs-btn-active-bg: #574343!important
  --bs-btn-border-color: #574343!important
  --bs-btn-hover-bg: #574343!important
  --bs-btn-focus-shadow-rgb: 86,67,67 !important
  --bs-btn-active-border-color: #ffffff !important
  --bs-btn-color: #574343 !important
.form-check-input:checked
  background-color: #574343!important
  border-color: #7c7070 !important
.form-check-input:focus
  box-shadow: 0 0 0 0.25rem rgba(112, 113, 117, 0.25) !important



.form-control
  border: 2px solid $color-one
  &:focus
    border-color: #574343!important
    box-shadow: 0 0 0 0.25rem rgba(108, 92, 66, 0.25) !important


.btn_form
  left: auto
                                                                //basket

.rounded_top
  border-radius: 10px 10px 0 0













