

html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block


html
  height: 100%
  font-family: century-gothic, sans-serif


body
  line-height: 1


ol, ul
  list-style: none


blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none


table
  border-collapse: collapse
  border-spacing: 0


.none
  display: none


//Style

body
  background-color: #ebe2dd!important
.bgNavbar
  background-color: #cccbd0
.Rounded
  border-radius: 15px


            // nav banner
.awssld__bullets
  display: none!important
.awssld__content
  border-radius: 15px

            //Header

.container_nav_catalog
  background: #574343
  height: 50px

h4
  scroll-margin-top: 100px

.yacor
  text-decoration: none
  color: #b01515
  margin: 0 15px

  &:hover
    color: aqua



