body {
    background-color : #f5f9fa!important
}

.none{
    display: none;
}
.bgNavbar {
    background-color: #393230
}

/*////background-color: rgb(74,123,66)*/
.bg_container {
    background-color: rgb(74, 123, 66)
}

.Rounded {
    border-radius: 15px;
}

.awssld__wrapper {
    border-radius: 15px
}
.awssld__bullets{
    display: none !important;
}
.textAnnouncement{
    font-size: smaller
}
.img_All_Cards{
    text-align: center;
}

.bg_All_Cards{
    background-color: rgba(191, 195, 196, 0.26);
}
td,tr{
    text-align: center;
}
.border_radius{
    border-radius:15px
}
.homeTransition-appear{
    opacity: 0;
}

.homeTransition-appear{
    opacity: 0;
}

.homeTransition-appear.homeTransition-appear-active{
    opacity: 1;
    transition: all .5s ease-in-out;
}







.about{
    color: red;
}

.aboutTransition-appear{
    opacity: 0;
}

.aboutTransition-appear.aboutTransition-appear-active{
    opacity: 1;
    color: red;
    transition: all .4s ease-in-out;
}